<form class="events-search" (ngSubmit)="onSearch()">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <input type="date" placeholder="Date" [(ngModel)]="searchDate" name="searchDate">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Event" [(ngModel)]="searchEvent" name="searchEvent">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Location" [(ngModel)]="searchLocation" name="searchLocation">
            </div>

            <div class="col-12 col-md-3">
                <input class="btn gradient-bg" type="submit" placeholder="Search Events">
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row events-list">
        <div class="col-12 col-lg-6 single-event" *ngFor="let event of events">
            <figure class="events-thumbnail">
                <img [src]="event.images && event.images.length > 0 ? event.images[0].url : '/assets/images/summer.jpg'"
                     alt=""
                     class="img-fluid custom-img" (click)="navigateToEvent(event.id)">
            </figure>
            
            <div class="event-content-wrap">
                <header class="entry-header flex justify-content-between">
                  <div>
                    <h2 class="entry-title custom-purple">{{ event.title }}</h2>
              
                    <div class="event-location custom-purple">
                      {{ event.venue.name }} - {{ event.venue.address }}
                    </div>
              
                    <div class="event-date custom-gray">
                      {{ event.startDateTime | date: 'longDate' }} - {{ event.startDateTime | date: 'shortTime' }} 
                      <span>to</span> 
                      {{ event.endDateTime | date: 'longDate' }} - {{ event.endDateTime | date: 'shortTime' }}
                    </div>
                  </div>
              
                  <div class="event-cost flex justify-content-center align-items-center custom-purple2" *ngIf="event.minPrice > 0">
                    From <span style="margin-left: 6px;">{{ event.minPrice | currency: 'Ksh.' }}</span>
                  </div>
                  <div class="event-cost flex justify-content-center align-items-center custom-purple2" *ngIf="event.minPrice <= 0">
                    No tickets available
                  </div>
                </header>
              
                <div class="entry-content custom-gray">
                  <p>{{ event.description }}</p>
                </div>
              
                <footer class="entry-footer mb-3">
                  <a routerLink="/users/auth/login" class="btn" style="background: none; outline: none; border: none;">Buy Tickets</a>
                </footer>
              </div>              
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="load-more-btn">
                <button class="btn gradient-bg" (click)="loadMore()">Load More</button>
            </div>
        </div>
    </div>
</div>

<div class="upcoming-events-outer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="upcoming-events">
                    <div class="upcoming-events-header">
                        <h4>Upcoming Events</h4>
                    </div>

                    <div class="upcoming-events-list">
                        <div class="upcoming-event-wrap flex flex-wrap justify-content-between align-items-center" *ngFor="let event of events">
                            <figure class="events-thumbnail">
                                <img src="/assets/images/upcoming-1.jpg" alt="" (click)="navigateToEvent(event.id)">
                            </figure>

                            <div class="entry-meta">
                                <div class="event-date">
                                    {{ event.startDateTime | date: 'dd' }}<span>{{ event.startDateTime | date: 'MMMM' }}</span>
                                </div>
                            </div>

                            <header class="entry-header">
                                <h3 class="entry-title"><a href="#">{{ event.title }}</a></h3>

                                <div class="event-date-time">{{ event.startDateTime | date }} {{ symbolAt }} {{ event.startDateTime | date:'shortTime' }} - {{ event.endDateTime | date }} {{ symbolAt }} {{ event.endDateTime | date:'shortTime' }}</div>

                                <div class="event-speaker">Organizer: {{ event.organizer.profile.firstName }} {{ event.organizer.profile.lastName }}</div>
                            </header>

                            <footer class="entry-footer">
                                <a href="#">Buy Tickets</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
