.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;
    z-index: 1000;
    font-size: 1rem;
    opacity: 0.9;
    &.success {
      background-color: #28a746e1;
    }
    &.error {
      background-color: #dc3546d7;
    }
    &.info {
      background-color: #17a3b8d3;
    }
    &.warning {
      background-color: #ffc107be;
    }
  }
  