
<div *ngIf="showLoadingSpinner" class="loading-spinner" style="margin-top: 27%; margin-left: 48%;">
  <div class="spinner-border custom-purple" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="!showLoadingSpinner" >
  <h2>Tickets</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.type }}</td>
          <td>{{ ticket.price | currency: 'Ksh.' }}</td>
          <td>
            <button *ngIf="role === 'organizer'" class="btn btn-warning btn-sm custom-success" (click)="openAddTicketModal(ticket)" style="background: none; outline: none; border: none; width: fit-content; height: fit-content; padding: 10px;">
              <i class="fa fa-edit"></i> Edit
            </button>
            <button *ngIf="role === 'organizer'" class="btn btn-danger btn-sm custom-danger" (click)="deleteTicket(ticket.id)" style="background: none; outline: none; border: none; width: fit-content; height: fit-content; padding: 10px; ">
              <i class="fa fa-trash"></i> Delete
            </button>
            <button *ngIf="role === 'admin'" class="btn btn-info btn-sm" style="background: none; outline: none; border: none; width: fit-content; height: fit-content; padding: 10px; color: blue;">
              <i class="fa fa-eye"></i> View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>