<!-- attendee.component.html -->
<div class="container-fluid">
    <table class="table table-striped">
      <thead class="bg-purple text-white">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendee of attendees">
          <td>{{ attendee.name }}</td>
          <td>{{ attendee.email }}</td>
          <td>{{ attendee.phone }}</td>
          <td>
            <i class="fas fa-edit text-success me-2"></i>
            <i class="fas fa-trash text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  