<div class="container">
    <div class="row">
        <div class="col-12">
            <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">A guide to all summer festivals</a></h2>

                    <div class="entry-meta flex align-items-center">
                        <div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>
                    </div>
                </header>

                <figure>
                    <a href="#"><img src="/assets/images/news-1.jpg" alt=""></a>

                    <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>
                </figure>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit amet metus. Duis vel semper turpis, ac tempus libero. Maecenas id ultrices risus. Aenean nec ornare ipsum, lacinia volutpat urna. Maecenas ut aliquam purus, quis sodales dolor.tiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit ame.</p>
                </div>
            </article>

            <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">Top 10 electronic music events in February</a></h2>

                    <div class="entry-meta flex align-items-center">
                        <div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>
                    </div>
                </header>

                <figure>
                    <a href="#"><img src="/assets/images/news-2.jpg" alt=""></a>

                    <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>
                </figure>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit amet metus. Duis vel semper turpis, ac tempus libero. Maecenas id ultrices risus. Aenean nec ornare ipsum, lacinia volutpat urna. Maecenas ut aliquam purus, quis sodales dolor.tiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit ame.</p>
                </div>
            </article>

            <article class="events-news-post">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="#">Must-see events this summer</a></h2>

                    <div class="entry-meta flex align-items-center">
                        <div class="posted-author"><a href="#">by James Williams</a></div>

                        <div class="post-comments"><a href="#">2 Comments</a></div>
                    </div>
                </header>

                <figure>
                    <a href="#"><img src="/assets/images/news-3.jpg" alt=""></a>

                    <div class="posted-date"><span>Feb</span><span>11</span><span>‘18</span></div>
                </figure>

                <div class="entry-content">
                    <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit amet metus. Duis vel semper turpis, ac tempus libero. Maecenas id ultrices risus. Aenean nec ornare ipsum, lacinia volutpat urna. Maecenas ut aliquam purus, quis sodales dolor.tiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit ame.</p>
                </div>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="blog-pagination">
                <ul class="flex align-items-center">
                    <li><a href="#">01</a></li>
                    <li class="active"><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>