<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="email" class="form-control form-control-border-bottom" id="email" formControlName="email" placeholder="Email address">
        <div *ngIf="isInvalid('email')" class="text-danger">Please enter a valid email address</div>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control form-control-border-bottom" id="password" formControlName="password" placeholder="Password">
        <div *ngIf="isInvalid('password')" class="text-danger">Please enter your password</div>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="rememberMe" [(ngModel)]="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary" style="border-radius: 25px; background-color: #6f42c1; color: white; border: none;">
        <i class="fa fa-sign-in"></i> Login
      </button>
      <div class="mt-3">
        <p>Don't have an account? <a routerLink="/users/auth/register">Register</a></p>
      </div>
    </form>
  </div>
  