<div class="container mt-5">
    <div class="card shadow-sm">
      <div class="card-header d-flex justify-content-between align-items-center bg-purple text-white">
        <h4 class="mb-0">Profile</h4>
        <button class="btn btn-light" (click)="toggleEditMode()" style="border-radius: 8px;">
          <div *ngIf="showLoadingSpinner" class="loading-spinner">
            <div class="spinner-border custom-purple" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div  *ngIf="!showLoadingSpinner" >
            <i class="fa" [ngClass]="editMode ? 'fa-times' : 'fa-edit'"></i> 
            {{ editMode ? 'Cancel' : 'Edit Profile' }}
          </div>
        </button>
      </div>
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img [src]="user.profile.image" alt="Profile Image" class="rounded-circle mb-3" width="150" height="150">
          <h4>{{ user.profile.firstName + ' ' + user.profile.lastName }}</h4>
          <p class="text-muted">{{ user.email }}</p>
          <p>{{ user.profile.bio }}</p>
          <p><i class="fa fa-map-marker-alt"></i> {{ location }}</p>
        </div>
  
        <div *ngIf="editMode" class="mt-4">
          <form *ngIf="!showLoadingSpinner" (ngSubmit)="saveProfile()">
            <div class="form-group mb-3">
              <label for="firstname">First Name</label>
              <input type="text" id="firstname" class="form-control" [(ngModel)]="user.profile.firstName" name="firstname" required>
            </div>
            <div class="form-group mb-3">
              <label for="lastname">Last Name</label>
              <input type="text" id="lastname" class="form-control" [(ngModel)]="user.profile.lastName" name="lastname" required>
            </div>
            <div class="form-group mb-3">
              <label for="bio">Bio</label>
              <textarea id="bio" class="form-control" [(ngModel)]="user.profile.bio" name="bio" rows="3" required></textarea>
            </div>
            <div class="form-group mb-3">
              <label for="profileImage">Profile Image</label>
              <input type="file" id="profileImage" class="form-control" (change)="handleFileInput($event)">
            </div>
            <button type="submit" class="btn btn-primary" style="border-radius: 8px; background-color: #6f42c1; color: white; border: none;">
              <i class="fa fa-save"></i> Save Changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  