<div class="container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3" *ngIf="!showResetFields">
        <input type="email" class="form-control form-control-border-bottom" id="email" formControlName="email" placeholder="Email address">
        <div *ngIf="isInvalid('email')" class="text-danger">Please enter a valid email address</div>
      </div>
      <div class="mb-3" *ngIf="showResetFields">
        <input type="text" class="form-control form-control-border-bottom" id="resetCode" formControlName="resetCode" placeholder="Reset Code">
        <div *ngIf="isInvalid('resetCode')" class="text-danger">Please enter the reset code</div>
      </div>
      <div class="mb-3" *ngIf="showResetFields">
        <input type="password" class="form-control form-control-border-bottom" id="password" formControlName="password" placeholder="New Password">
        <div *ngIf="isInvalid('password')" class="text-danger">Please enter your new password</div>
      </div>
      <div class="mb-3" *ngIf="showResetFields">
        <input type="password" class="form-control form-control-border-bottom" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
        <div *ngIf="isInvalid('confirmPassword')" class="text-danger">Passwords must match</div>
      </div>
      <div class="mb-3" *ngIf="!showResetFields">
        <button type="button" class="btn btn-primary" (click)="requestResetCode()" style="border-radius: 25px; background-color: #6f42c1; color: white; border: none;">
          <i class="fa fa-key"></i> Request Reset Code
        </button>
      </div>
      <div class="mb-3" *ngIf="showResetFields">
        <button type="submit" class="btn btn-primary" style="border-radius: 25px; background-color: #6f42c1; color: white; border: none;">
          <span  *ngIf="!loading"><i class="fa fa-refresh"></i> Reset Password</span>
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
  