.sidenav {
  width: 250px;
  position: fixed;
  height: 100%;
}

.topnav {
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  z-index: 1020;
  background-color: #F8F8FA;
}

.nav-link {
  padding: 10px 20px;
  color: #333; /* Default link color */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #8a69c5; /* Lighter grey on hover */
  border-radius: 8px; /* Rounded corners on hover */
}

.active-link {
  background-color: #8a69c5; /* Grey background for active link */
  border-radius: 8px; /* Rounded corners for active link */
  font-weight: bold; /* Bold font for active link */
  color: #333; /* Text color for active link */
}

.content {
  margin-left: 250px;
  padding-top: 60px;
  height: 100vh;
  overflow-y: auto;
  background-color: #F8F8FA;
}

.bg-purple {
  background-color: #6f42c1;
}

.text-white{
  color: white;
}

.profile {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

.profile-avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%; 
  margin-right: 10px;
  float: left;
}