/* src/app/not-found/not-found.component.scss */
.not-found-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .not-found-container h1 {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  .not-found-container p {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  